@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@utility container {
	margin-inline: auto;
	padding-inline: 1rem;
}

@theme {
	/* Colors */
	--color-black-222: #222222;
	--color-black-063: #121063;
	--color-black-d0a: #110d0a;
	--color-gray-75: #757575;
	--color-red-45: #ff4545;

	/* Font Family */
	--font-jost: "Jost", sans-serif;

	/* Breakpoint */
	--breakpoint-*: initial;
	--breakpoint-xs: 30rem;
	--breakpoint-sm: 40rem;
	--breakpoint-md: 48rem;
	--breakpoint-lg: 64rem;
	--breakpoint-xl: 82rem;
}

@layer base {
	body {
		@apply font-jost;
	}
}
