/* .swiper {
  width: 100%;
  height: 300px;
} 

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
} */
/* .swiper-pagination {
  bottom: -10px !important;
} */
.swiper{
  
}
.swiper-pagination {
    padding-top: 60px;
  position: relative !important; 
}

/* Bullet styling */
 .swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  background: #d9d9d9;
  border-radius: 50%;
  opacity: 0.7;
  margin: 0 4px;
  transition: all 0.3s ease;
} 

/* Active bullet */
.swiper-pagination-bullet-active {
  background: black !important;
  opacity: 1;
  transform: scale(1.3);
} 
.swiper-pagination-bullet:nth-child(n + 4) {
	display: none !important;
  } 